@import '@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import './base.css';

body {
  background-color: #F7F3EC; /* Baggrundsfarve for hele siden */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 80px; /* Plads til navigationen */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Fjern grid layout på større skærme */
@media (min-width: 1024px) {
  body {
    margin: 0;
    padding: 0;
    display: block; /* Fjern flex eller ændr layout til blok */
  }

  #app {
    max-width: 100%;
    padding: 0;
    display: block; /* Fjern grid */
  }
}
